*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(227, 227, 227);
  padding: 25px;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: white;
  min-height: 100vh;
  border-radius: 10px;
}
h2{
  margin-bottom: 30px;
  font-size: 2rem;
}
input{
  border: 2px solid gray;
  padding: 5px 10px;
  border-radius: 5px;
}
button#add{
  padding: 5px 20px;
  border: 2px solid rgb(54, 183, 4);
  background-color: rgb(9, 186, 62);
  color: white;
  border-radius: 5px;
  cursor: pointer;
}